<!-- Bootstrap needys -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="bg-text text-center">
        <p style="color: green"><%= notice %></p>
        <h1>Gerenciador de campus</h1>
        <div id="campus">
          <% @campus.each do |campu| %>
            <%= render campu %>
            <p>
              <%= link_to "Exibir campus", campu %>
            </p>
          <% end %>
        </div>
        <%= link_to "Criar novo campus", new_campu_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>