<!-- Bootstrap needys -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <h1 class="text-center">Criar novo campus</h1>
    <div class="row justify-content-center">
      <%= render "form", campu: @campu %>
    </div>
    <div class="text-center">
      <%= link_to "Voltar à lista de campus", campus_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>