<h1>Editing uff campus</h1>

<%= render "form", uff_campu: @uff_campu %>

<br>

<div>
  <%= link_to "Show this uff campus", @uff_campu %> |
  <%= link_to "Back to uff campus", uff_campus_index_path %>
</div>
